---
import {
  ObfuscatedEmail,
  ObfuscatedPhone,
  ObfuscatedText,
  ObfuscatedData
} from '../../../src/components';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main>
    <!-- Email -->
    <!-- Result: <a href="mailto:email@example.com">email@example.com</a> -->
    <ObfuscatedEmail email="email@example.com" />
    <!-- Result: <a href="mailto:email@example.com">email</a> -->
    <ObfuscatedEmail email="email@example.com" text="email" />

    <!-- Phone -->
    <!-- Result: <a href="tel:+1-541-555-0123">+1-541-555-0123</a> -->
    <ObfuscatedPhone phone="+1-541-555-0123" />
    <!-- Result: <a href="tel:+1-541-555-0123">+1 (541) 555-0123</a> -->
    <ObfuscatedPhone phone="+1-541-555-0123" text="+1 (541) 555-0123" />

    <!-- Text -->
    <!-- Result: <span>Sensitive information</span> -->
    <ObfuscatedText text="Sensitive information" />

    <!-- Custom obfuscated element -->
    <script>
      import ObfuscatedData from '../../../src/client';
      ObfuscatedData.registerElement('link', (deobfuscated, text) => {
        const elem = document.createElement('a');
        elem.href = deobfuscated;
        elem.innerText = text || deobfuscated;
        return elem;
      });
    </script>
    <!-- Result: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Free stuff</a> -->
    <ObfuscatedData data="https://www.youtube.com/watch?v=dQw4w9WgXcQ" text="Free stuff" type="link" />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
  }
</style>